<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/W08D01/src/ba/bitcamp/week8/day1/ArrayDetails/OOPWithReach.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ba.bitcamp.week8.day1.ArrayDetails.OOPWithReach"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="W08D01"/>
</launchConfiguration>
