<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/W07D05/src/ba/bitcamp/week7/day4/snake/Snake.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ba.bitcamp.week7.day4.snake.Snake"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="W07D05"/>
</launchConfiguration>
