<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/W12D03/src/ba/bitcamp/week12/day03/vjezbe/Task1.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ba.bitcamp.week12.day03.vjezbe.Task1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="W12D03"/>
</launchConfiguration>
